
#container{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 100px auto;

}
#name{
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px 2px gray;
    z-index: 1;
}
#name:focus{

    box-shadow: none;
}
#AjouterBtn{
    z-index: 1;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    background-color: green ;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20vh;
}
#list{
    width: 27%;
    margin: 10px auto;
    padding: 20px 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px gray;
    line-height: 100px;
    display: none;
}
#listUl{  
    width: 100%;
    margin-left: 90px ;
    font-family: monospace;
    font-weight: bolder;
    font-size: 25px;
}

#Choiser{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(9, 110, 117) ;
    color: white;
    font-size: 18px;
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
    margin: 40px auto;
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7); /* gray with opacity */
    z-index: 5; 
    display: none;
}
#popup{
    width: 35%;
    height: 500px;
    text-align: center;
    display: none;
    z-index: 10;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 0 10px 2px gray;
    border-radius:5%;
    padding-top: 50px;
    font-family: monospace;

}
#popup h2{
    font-size: 40px;
    font-weight: bolder;
}
#popup #para_Popup{
    font-size: 28px;
    font-weight: bolder;
    margin-top: 150px;

}

#popup #popupBtn{
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    background-color: red ;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 140px;

}
/* #noName{
    display: none;
} */